.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}
input{

box-shadow:  0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
height: 35px;
border: #4ab3f0 2px solid;
}

.digimonsContainer{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.button{
  border: #4ab3f0 2px solid;
  background: coral;
  box-shadow:  0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
}
.digimonCard{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 150px;
  margin: 0 auto;
  border: #4ab3f0 2px solid;
  background: coral;
  box-shadow:  0.2rem 0.3rem 2px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.digimonCard img{
width: 100px;
height: 100px;
}